.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* =============================
   1. CSS RESET
   ============================= */
   *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul li {
    font-style: none;
    list-style: none;
  }
  img {
    display: block;
    max-width: 100%;
  }

  button {
    font: inherit;
  }

   /* =============================
   2. VARIABLES
   ============================= */

   :root {
    --ff-heading: "Poppins", sans-serif;
    --ff-body: "Open Sans", sans-serif;

    --fw-400:400;
    --fw-600:600;

    --c-purple: #7D63A0;
    --c-magenta: #DC77E5;

    --fs-heading: 2rem;
    --fs-body: 1rem;
}

   /* =============================
   3. BASE STYLES (CONTAINERS / SECTIONS)
   ============================= */

   body {
    font-family: var(--ff-body);
    font-weight: var(--fw-400);
    font-size: var(--fs-body);
    color: white;
    background: url(./images/bg-desktop.svg);
    background-repeat: no-repeat; /*NOTE*/
    background-size: cover; /*NOTE*/
    background-color: #7D63A0; /*NOTE*/
   }

   /* =============================
   4. TEXT
   ============================= */

   .title {
    font-size: var(--fs-heading);
    font-weight: var(--fw-600);
   }

   /* =============================
   5. COMPONENT
   ============================= */
   .hero-button {
    color: var(--c-purple);
    background: white;
    font-weight: var(--fw-600);
    padding: .8rem 3rem;
    border: none;
    border-radius: 999px;
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.424); /*NOTE*/
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease; /*NOTE*/
   }

   .hero-button:hover {
    background: var(--c-magenta);
    color: white;
   }

   .social-links i {
    display: inline-block;
    padding: .75rem;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;
   }

   .social-links > *:nth-child(1) { 
    padding: .75rem .9rem; /*NOTE*/
   }

   .social-links > *:nth-child(2) { 
    margin: 0 0.5rem; /*NOTE*/
   }

   .social-links i:hover {
    border-color: var(--c-magenta);
    color: var(--c-magenta);
   }

   /* =============================
   6. LAYOUT
   ============================= */
   .hero-section > * {/*NOTE*/
    flex-basis: 50%; 
    flex: 1 0 20rem;/*NOTE*/
   }

   .hero-section {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 4rem 0 2rem;
    flex-wrap: wrap; /*NOTE: This works with the flex-basis just above here*/
   }

   .hero-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-inline: auto; /*NOTE*/
    padding: 3rem 0;
   }

   .logo {
    width: 15rem;
   }

   .hero-content {
    padding-top: 4rem;
   }

   .hero-content > * + * {
    margin-top: 1.5rem;
   }

   .social-links {
    text-align: end;
   }

   /* =============================
   7. BREAKPOINT CHNAGES
   ============================= */

   @media  (max-width: 1200px) {
    .hero-img {
        width: 40em;
    }
   }

   @media  (max-width: 1000px) {
    :root {
        ----fs-m-heading: 1.75rem;
    }

    .logo {
        width: 10em;
    }

    .hero-content, .social-links {
        text-align: center;
    }

    .title {
        font-size: var(----fs-m-heading);
    }

    .hero-img {
        width: auto;
    }

    .hero-section {
        gap: 0;
    }

    .hero-content {
        margin-bottom: 2rem;
    }

    .hero-button {
        display: block;
        width: 20rem;
        margin-inline: auto;
    }

    body {
        background: url(./images/bg-mobile.svg);
        background-repeat: no-repeat; /*NOTE*/
        background-size: contain; /*NOTE*/
        background-position: top;
        background-color: #7D63A0; /*NOTE*/
    }
   }