/* =============================
   1. CSS RESET
   ============================= */
   *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul li {
    font-style: none;
    list-style: none;
  }
  img {
    display: block;
    max-width: 100%;
  }

  button {
    font: inherit;
   }

/* =============================
   2. VARIABLES (Custom Properties)
   ============================= */
   :root {
    --ff-heading: "Poppins", sans-serif;
    --ff-body: "Open Sans", sans-serif;

    --fw-300:300;
    --fw-400:400;
    --fw-500:500;
    --fw-600:600;

    --c-purple: #653d9a;
    --c-magenta: #DC77E5;

    --fs-heading: 2rem;
    --fs-heading-mobile: 2rem;
    --fs-body: 1rem;
}

/* =============================
   3. BASE ELEMENT STYLES (body, img, a, ul, etc.)
   ============================= */
   body {
      background: url(./images/bg-mobile.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top;
      background-color: #7D63A0;
      font-family: var(--fs-body);
      color: white;
   }

   .header-logo-img {
      width: 13rem;
   }

/* =============================
   4. TYPOGRAPHY (text, headings, font rules)
   ============================= */
   .main-title {
      font-family: var(--ff-heading);
      font-weight: var(--fw-500);
      margin-bottom: 1rem;
   }

   .main-description {
      font-weight: var(--fw-300);
      font-family: var(--ff-body);
      font-size: var(--fs-body);
      margin-bottom: 1.5rem;

   }

/* =============================
   5. COMPONENTS (buttons, cards, etc.)
   ============================= */
   button {
      font-family: var(--ff-body);
      color: var(--c-purple);
      background-color: white;
      border: none;
      border-radius: 999px;
      padding: .75rem 5rem;
      cursor: pointer;
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.384);
      transition: background-color .4s ease, color .4s ease;
   }

   button:hover {
      background-color: var(--c-magenta);
      color: white;
   }

   .social-links i {
      padding: 1rem;
      border: 1px solid white;
      border-radius: 999px;
      margin-bottom: 1.5rem;
      cursor: pointer;
      transition: background-color .4s ease, color .4s ease;
   }

   .social-links i:hover {
      border-color: var(--c-magenta);
      color: var(--c-magenta);
   }

   .social-links > *:nth-child(1) {
      padding: 1rem 1.25rem;
   }

   .social-links > *:nth-child(2) {
      margin: 0 .75rem;
   }
   
/* =============================
   6. LAYOUT (containers, flex/grid settings)
   ============================= */
   .container {
      display: flex;
      flex-direction: column;
      height: 100dvh;
      padding: 1.5rem;
   }

   /* HEADER */

   header {
      margin-bottom: 2.75rem;
   }

   .header-container {
      display: flex;
      justify-content: start;
   }

   /* MAIN GRAPHIC*/

   .main-container {
      display: flex;
      flex-direction: column;
      text-align: center;
   }

   .main-graphic {
      margin-bottom: 2.75rem;
   }

   /* MAIN CONTENT*/

   .main-content {
      margin-bottom: 3.75rem;
   }

   /* FOOTER */

   footer {
      text-align: center;
   }

   .attribution { 
      font-size: 11px; text-align: center; 
      margin-bottom: 1.25rem;
   }

   .attribution a { 
      color: var(--c-magenta); 
   }

/* =============================
   7. UTILITIES (helper classes if any)
   ============================= */

/* =============================
   8. MEDIA QUERIES (breakpoints)
   ============================= */

   /* Tablet */

   @media (min-width: 768px) {

/* =============================
   3. BASE ELEMENT STYLES (body, img, a, ul, etc.)
   ============================= */

   body {
      background: url(./images/bg-desktop.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      background-color: #7D63A0;
   }

/* =============================
   4. TYPOGRAPHY (text, headings, font rules)
   ============================= */
/* =============================
   5. COMPONENTS (buttons, cards, etc.)
   ============================= */

   .social-links {
      text-align: end;
   }
/* =============================
   6. LAYOUT (containers, flex/grid settings)
   ============================= */

   .main-container {
      display: flex;
      flex-direction: column;
      text-align: start;
   }
   }

   @media (min-width: 1080px) {
/* =============================
   3. BASE ELEMENT STYLES (body, img, a, ul, etc.)
   ============================= */
   .main-graphic {
      min-width: 45rem;
   }

   .social-links {
      display: block;
   }
/* =============================
   4. TYPOGRAPHY (text, headings, font rules)
   ============================= */

   .main-title {
      font-size: var(--fs-heading);
   }
/* =============================
   5. COMPONENTS (buttons, cards, etc.)
   ============================= */
/* =============================
   6. LAYOUT (containers, flex/grid settings)
   ============================= */
   body {
      background: url(./images/bg-desktop.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      background-color: #7D63A0;
   }

   .container {
      padding: 3rem 4rem 0;
   }
   
   .main-container {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin-bottom: 5rem;
   }

   .main-content{
      margin-top: 2rem;
   }

   footer {
      
   }
         }